<a href="https://colab.research.google.com/github/MarionM2/Afrofem_projects/blob/main/Marion_Maina_Assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/Dataset/Arrest_Data_from_2010_to_Present.csv')

/usr/local/lib/python3.8/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
data.head()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Location
0,4248313,02/24/2015,1310.0,20.0,Olympic,2022.0,37.0,M,H,5.0,Burglary,F,459PC,BURGLARY,5TH,WILTON,"(34.0653, -118.314)"
1,191811472,05/03/2019,1700.0,18.0,Southeast,1802.0,23.0,F,B,NaN,NaN,M,653.22 PC,NaN,91ST,FIGUEROA,"(33.9543, -118.2827)"
2,4254777,02/26/2015,2010.0,19.0,Mission,1985.0,22.0,M,H,6.0,Larceny,M,459.5PC,SHOPLIFTING,8300 VAN NUYS BL,NaN,"(34.2216, -118.4488)"
3,5614161,04/29/2019,1040.0,8.0,West LA,842.0,41.0,M,H,3.0,Robbery,F,211PC,ROBBERY,11600 WILSHIRE BL,NaN,"(34.0508, -118.4592)"
4,5615197,04/30/2019,615.0,6.0,Hollywood,663.0,27.0,M,O,5.0,Burglary,F,459PC,BURGLARY,LA BREA,LEXINGTON,"(34.0907, -118.3384)"

In [ ]:
columns = list(data.columns)
print(columns)

['Report ID', 'Arrest Date', 'Time', 'Area ID', 'Area Name', 'Reporting District', 'Age', 'Sex Code', 'Descent Code', 'Charge Group Code', 'Charge Group Description', 'Arrest Type Code', 'Charge', 'Charge Description', 'Address', 'Cross Street', 'Location']

In [ ]:
print("Column datatypes: ")
print(data.dtypes)

Column datatypes:
Report ID                    object
Arrest Date                  object
Time                        float64
Area ID                     float64
Area Name                    object
Reporting District          float64
Age                         float64
Sex Code                     object
Descent Code                 object
Charge Group Code           float64
Charge Group Description     object
Arrest Type Code             object
Charge                       object
Charge Description           object
Address                      object
Cross Street                 object
Location                     object
dtype: object

1.How many bookings of arrestees were made in 2018? [5]

In [ ]:
data['Arrest Date'] = pd.to_datetime(data['Arrest Date'])
data['Year'] = data['Arrest Date'].dt.strftime('%Y')

In [ ]:
year= "2018"
num_arrests = (data[data['Year']== year])
print("The number of arrests in", year,":",len(num_arrests))

The number of arrests in 2018 : 42381

2. How many bookings of arrestees were made in each area and which area has the most arrests in 2018?[5]

In [ ]:
arrest_area =  num_arrests['Area Name'].value_counts()
print(" The following are the number of bookings of arrestees in each area")
print("\n")
print(arrest_area)
most_arrests = arrest_area.index[0]
print("\n")
print("Most arrests in 2018:")
print(most_arrests)
num_arrests = data[data['Year']=="2018"]
print(len(num_arrests))

 The following are the number of bookings of arrestees in each area


Central        5621
Hollywood      5378
Rampart        4243
Pacific        3545
Van Nuys       2332
N Hollywood    2052
Southwest      1768
Mission        1701
Newton         1638
Harbor         1628
Northeast      1579
77th Street    1457
West LA        1415
Olympic        1350
Devonshire     1336
Topanga        1208
Hollenbeck      995
West Valley     955
Foothill        801
Southeast       764
Wilshire        615
Name: Area Name, dtype: int64


Most arrests in 2018:
Central
42381

3.There are differences between the average age of an arrestee for the various charge groups. Find the average age of arrestees per each charge group.Only consider data for 2018 Do not consider "Pre-Delinquency" and "Non-Criminal.Detention" as these charge groups are reserved for minors
Exclude any arrests where the charge group description is not known

In [ ]:
data_0 = data[(data['Year']=="2018") & (data['Charge Group Description'] != 'UNKNOWN')]
data_0 = data_0[~data_0['Charge Group Description'].isin(['Pre-Delinquency', 'Non-Criminal Detention'])]
avg_age = data_0.groupby('Charge Group Description')['Age'].mean()
print("The Average age of arrestees per each group is:")
print(" ")
print(avg_age)

The Average age of arrestees per each group is:

Charge Group Description
Against Family/Child              36.950355
Aggravated Assault                33.907359
Burglary                          30.366755
Disorderly Conduct                41.924290
Disturbing the Peace              39.727273
Driving Under Influence           34.428291
Drunkeness                        44.219972
Federal Offenses                  34.600000
Forgery/Counterfeit               35.066667
Fraud/Embezzlement                35.689076
Gambling                          40.557047
Homicide                          30.896552
Larceny                           32.725796
Liquor Laws                       42.540955
Miscellaneous Other Violations    36.252076
Miscellaneous Other Violatio{     17.000000
Moving Traffic Violations         33.085622
Narcotic Drug Laws                36.097954
Other Assaults                    33.451139
Prostitution/Allied               31.620470
Rape                              36.203704
Receive Stolen Property           33.687500
Robbery                           27.538739
Sex (except rape/prst)            36.555838
Vehicle Theft                     30.095624
Weapon (carry/poss)               29.477178
Name: Age, dtype: float64

4.What is the 95% quantile of the age of the arrestee in 2018? Only consider the following charge groups for your analysis:Vehicle Theft Robbery Burglary Receive Stolen Property

In [ ]:
data_1= data[(data['Year']=="2018") & data['Charge Group Description'].isin(['Vehicle Theft', 'Robbery', 'Burglary', 'Receive Stolen Property'])]
age_percentile = data_1['Age'].quantile(0.95)
print("The 95% of Arrestee Age :", age_percentile)

The 95% of Arrestee Age : 52.0

5.Crime arrest incidents have been dropping over the years. Using a linear regression for the data from 2010 and 2018 (inclusive), predict number of crime arrests in 2019? Round to the nearest integer. Note, the data set includes arrests for misdemeanor, felonies, etc.

In [ ]:
from sklearn.linear_model import LinearRegression

data_yearly = data[(data['Year']>="2010")&(data['Year']<="2018")]
arrests_by_year = data_yearly.groupby('Year').size().reset_index(name='Count')

model = LinearRegression()
model.fit(arrests_by_year[['Year']].values, arrests_by_year['Count'])
predicted_arrests = model.predict([[2019]])
rounded_predicted_arrests = int(round(predicted_arrests[0]))

print("Predicted Number of Arrests in 2019:", rounded_predicted_arrests)

Predicted Number of Arrests in 2019: 67723

6.How many arrest incidents occurred within 2 km from the Bradbury Building in 2018? Use (34.050536, -118.247861) for the coordinates of the Bradbury Building . For simplicity, please use the spherical Earth projected to a plane equation for calculating distances. Use the radius of the Earth as 6371 km. Note, some arrest records are missing location data and the location is listed as (0, 0). These records should not factor in your calculation.[5]

In [ ]:
data[['Lat', 'Lon']] = data['Location'].str.strip('()').str.split(', ', expand=True).astype(float)

data = data.drop('Location', axis=1)

In [ ]:
data.head()

,Report ID,Arrest Date,Time,Area ID,Area Name,Reporting District,Age,Sex Code,Descent Code,Charge Group Code,Charge Group Description,Arrest Type Code,Charge,Charge Description,Address,Cross Street,Year,Lat,Lon
0,4248313,2015-02-24,1310.0,20.0,Olympic,2022.0,37.0,M,H,5.0,Burglary,F,459PC,BURGLARY,5TH,WILTON,2015,34.0653,-118.3140
1,191811472,2019-05-03,1700.0,18.0,Southeast,1802.0,23.0,F,B,NaN,NaN,M,653.22 PC,NaN,91ST,FIGUEROA,2019,33.9543,-118.2827
2,4254777,2015-02-26,2010.0,19.0,Mission,1985.0,22.0,M,H,6.0,Larceny,M,459.5PC,SHOPLIFTING,8300 VAN NUYS BL,NaN,2015,34.2216,-118.4488
3,5614161,2019-04-29,1040.0,8.0,West LA,842.0,41.0,M,H,3.0,Robbery,F,211PC,ROBBERY,11600 WILSHIRE BL,NaN,2019,34.0508,-118.4592
4,5615197,2019-04-30,615.0,6.0,Hollywood,663.0,27.0,M,O,5.0,Burglary,F,459PC,BURGLARY,LA BREA,LEXINGTON,2019,34.0907,-118.3384

In [ ]:
from geopy.distance import geodesic
bradbury_coords = (34.050536, -118.247861)
df_2018 = data[(data['Year'] =="2018") & (data['Lat'] != 0.0) & (data['Lon'] != 0.0)]
df_2018 = df_2018.dropna(subset=['Lat', 'Lon'])

def calculate_distance(row):
    arrest_coords = (row['Lat'], row['Lon'])
    return geodesic(bradbury_coords, arrest_coords).km

df_2018['Distance'] = df_2018.apply(calculate_distance, axis=1)


num_arrests_within_2km = len(df_2018[df_2018['Distance'] <= 2])


print("Number of Arrest Incidents within 2 km of the Bradbury Building in 2018:", num_arrests_within_2km)

Number of Arrest Incidents within 2 km of the Bradbury Building in 2018: 5913